<!DOCTYPE html>
<html>
<head>
  <title>Ucms</title>
  <%= stylesheet_link_tag    "ucms/application", :media => "all" %>
  <%= javascript_include_tag "ucms/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
